%//<div class="squaredFour">
%//	<input type="checkbox" value="None" id="<%? args.id || "checkbox" %>" name="check" />
%//	<label for="<%? args.id || "checkbox" %>"></label>
%//</div>
<div class="roundedTwo">
    <input type="checkbox" value="None" id="<%? args.id || "checkbox" %>" name="check" />
    <label for="<%? args.id || "checkbox" %>"></label>
</div>